html {
  min-height:100%;
 }

body {
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url(images/hiking.jpg ) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  height: 25px;
}

nav div.nav-items {
  border: 1px solid white;
}

page-header {
  font-weight: 700;
  font-size: 5em;
  color: #fff;
}

.main {
  margin-top: 8em;
  margin-left: 16px;
}

.main-link {
  margin: 0px 8px 0px 2px;
  font-size: 2em;
  color: #fff;
  width: 233px;
  padding: .25em;
  display: block;
  text-align: center;
}

.main-link a {
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}

.row{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}

.navigation {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.white-border, .main-link {
  border: 1px solid white;
}

.navigation li {
  margin-right: 8px;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }

  .white-border {
    border: inherit;
  }

  .row, .container {
    width: 100%;
  }

  .main {
    position: absolute;
    bottom: 2em;
    margin: 0;
  }

  .main-link {
    display: none;
  }

  .page-header {
    font-weight: 700;
    font-size: 3em;
    margin: 0 auto;
  }
}