<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width"><meta/>
  <title>Jared Carrano</title>
  <link rel="shortcut icon" type="image/png" href="../../images/favicon-256.png">
  <link rel="stylesheet" href="../../styles.css">
  <link rel="stylesheet" href="../../styles/default.css">
  <link rel="stylesheet" href="about.style.css">
  <link href='https://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120622390-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-120622390-1');
  </script>  
</head>

<body>

  <div class="container">
    <nav>
      <ul class="navigation">
        <!--<li><a href="views/projects.html">Projects</a></li>-->
        <li><a href="../../index.html">Home</a></li>
        <li><a href="https://www.linkedin.com/in/jaredcarrano">LinkedIn</a></li>
        <li><a href="../resume/resume.html">Résumé</a></li>
        <li><a href="javascript:spamControl()" rel="nofollow">Contact</a></li>
      </ul>
    </nav>

    <div class="section">
      <div class="sectionTitle">
        <h1>Jared Carrano</h1>
      </div>
      
      <p>
        I'm a software developer and engineering manager based out of New York City.
      </p>
      <p>
        I work for <a href="https://www.newvisions.org/">New Visions for Public Schools</a>, 
        where we're working on a pretty student management system for school administrators.
      </p>

      <p>
        Before software, I studied public policy at The New School where I met my wonderful and beautiful wife.
        Prior to <i>that</i> I was traversing the rivers of Vermont, using my undergraduate degree in 
        Geology to help the State's Agency of Natural Resources promote more ecologically sound agricultural practices.
      </p>

      <p>
        Besides coding, I really love the great outdoors, though I find myself out there less and less. 
        More typically I'm home enjoying my wife and our rascal of an 18 month boy.
      </p>

    </div>
  </div>
</body>

<script src="../../scripts.js"></script>

</html>