<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Jared Carrano</title>
  <link rel="stylesheet" href="../../styles.css">
  <link rel="stylesheet" href="about.style.css">
  <link href='https://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
</head>

<body>

  <div class="container">
    <nav>
      <ul class="navigation">
        <!--<li><a href="views/projects.html">Projects</a></li>-->
        <li><a href="../../index.html">Home</a></li>
        <li><a href="https://www.linkedin.com/in/jaredcarrano">LinkedIn</a></li>
        <li><a href="../resume/resume.html">Résumé</a></li>
        <li><a href="javascript:spamControl()" rel="nofollow">Contact</a></li>
      </ul>
    </nav>

    <div class="section">
      <div class="sectionTitle">
        <h1>About Me</h1>
      </div>
      <p>
        My name is Jared Carrano. I'm a full-stack developer at
        <a href="https://www.newvisions.org/">New Visions for Public Schools</a>.</p>
      <p>
        New Visions is a non-profit organization in New York City dedicated to ensuring all our city's students have access
        to a high quality education that prepares them for work or college and beyond. I'm lucky to be part of a great team
        working to build a robust set of data tools for administrators and teachers in our network of over 250 urban high
        schools.
      </p>
      <p>
        Besides coding, I really love the great outdoors, though I find myself out there less and less. More typically I'm home enjoying my wife and our brand new baby boy, and binging on Netflix.</p>
      <p>Plus we have two large cats.</p>
    </div>
  </div>
</body>

</html>